

.header_items{
    border: 1px solid #000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
}
.item_title{
    margin-left: 50px;
}
.item_title h1{
    color: var(--Yellow);
    font-family: 'Rajdhani', sans-serif;
    font-size: 36px;
    font-weight: 900;
}
.item_pages{
    display: flex;
    column-gap: 35px;
}
.item_pages a{
    text-decoration: none;
}
.item_pages h1{
    font-family: 'Rajdhani', sans-serif; 
    font-size: 22px;
    font-weight: 500;
    color: #000;
}
.item_search{
    margin-right: 50px;
}